:root{
    --red : #FA1549;
    --grey : #ccc;
}
@font-face {
    font-family: g-sans;
    src: url(GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: "g-sans", sans-serif;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #000;
      scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-between;
     margin: 20px 50px;
}
.left-nav{
    display: flex;
    align-items: center;
    gap:30px;
}
.left-nav img{
    width: 70px;
    height: 70px;
    margin-top: 10px;
    border: 3px white solid;
    border-radius: 50%;
}

.right-nav{
    display: flex;
   text-transform: capitalize;
    align-items: center;
    gap:30px;
}
.right-nav ul{
    list-style: none;
    cursor: pointer;
    display: flex;
    gap: 30px;
}
.right-nav ul li a{
    text-decoration: none;
    color: white;
}
.right-nav ul li a:hover{
    text-decoration: none;
    color: var(--red);
}

.right-nav .resume-btn {
  display: inline-block;
  padding: 10px 16px;
  background-color: transparent;
  border: 2px solid var(--red);
  color: var(--red);
  text-decoration: none;

  font-weight: 600;
}
.resume-btn:hover {
  background-color: var(--red);
  color: white;
}



section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 80px;              
  margin: 0 auto 4% auto;        
  max-width: 1200px;
  padding: 0 40px;        
}
.intro-text {
  max-width: 500px;
}
.intro-text h2,
.intro-text h3 {
  white-space: nowrap;
}

.intro-text h1{
    font-size: 1.2rem;
   
letter-spacing: 0.05em;
    color: var(--red);
}

.intro-text h2{
      font-size: clamp(2.2rem, 6vw, 4rem);
     
}
.intro-text h3{
    font-size: clamp(1.6rem, 5vw, 3rem);
    font-weight: 500;
    color: #fff4f4;
    
}
.intro-text h4{
    font-size: 1.2rem;
    font-weight: normal;
    color: #ccc;
    max-width: 600px;
    line-height: 1.5;
}

.video-box {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1 / 1;
}

.video-box video {
  width: 500px;
  height: 500px;
  object-fit: cover; /* magic line */
}
.ri-menu-fill {
    display: none;
}

.line{
    background-color: transparent;
    width: 80%;
    justify-self:center ;
    border-radius: 10px;
    
    border: solid var(--red) 2px;
}

#about{
  margin-top: 60px;
  grid-template-columns: 1fr;
  gap: 30px;
}

#about .left p{
     font-size: 1.2rem;
    font-weight: normal;
    color: #ccc;
    max-width: 1000px;
    line-height: 1.5;
    margin-bottom: 1.2rem;
}


#project{
  margin-top: 60px;
 grid-template-columns: repeat(3, 1fr);
 gap:30px;
}
#project h1 {
  grid-column: 1 / -1;
}
#project .box1{

width: 100%;
border: 2px solid white;

padding: 5px;
 object-fit: cover;
}
#project .box1 img{
 width: 100%;
aspect-ratio: 16 / 9;
  height: 100%;
    transition: transform 0.5s ease;
 transform: scale(0.95);

}
#project .box1 img:hover{
transform: scale(1);

}
 .details{
  padding: 10px;
}
.details a{
 text-decoration: none;
 font-size: 1.5rem;
 font-weight: bold;
}

.details a:hover{
  color: var(--red);
 
}

.details p{
   line-height: 1.5;
  color: var(--grey);
}

.details ul{
  list-style: none;
  display: flex;
  gap: 10px;
}
.details ul li{
  margin-top: 10px;
  background-color: #FA1549;
  padding: 5px;
  
}
#project .box2 {
width: 100%;
border: 2px solid white;
padding: 5px;
 object-fit: cover;
}
#project .box2 img{
 width: 100%;
aspect-ratio: 16 / 9;
  height: 100%;
    transition: transform 0.5s ease;
 transform: scale(0.95);

}
#project .box2 img:hover{
transform: scale(1);

}
#project .box3{
width: 100%;
border: 2px solid white;
padding: 5px;
 object-fit: cover;
}

#project .box3 img{
 width: 100%;
aspect-ratio: 16 / 9;
  height: 100%;
    transition: transform 0.5s ease;
 transform: scale(0.95);

}


#project .box3 img:hover{
transform: scale(1);

}


@media (max-width:600px) {
    nav{
       margin: 16px 20px;
        gap: 16px;
    }
    nav .left-nav img{
        width: 40px;
         height: 40px;
    }
  section {
    margin: 40px auto;
    padding: 0 20px;
    grid-template-columns: 1fr;
    gap: 0px;
  }

.right-nav ul {
    display: none;
}
.ri-menu-fill {
    display: block;
    font-size: 20px;
}
  .intro-text h2,
  .intro-text h3 {
    white-space: normal;
  }
.video-box video {
  width:350px;
  height:auto;
  object-fit: cover; /* magic line */
}
 #project {
    grid-template-columns: 1fr;
  }
}